
<%= render 'shared/navbar' %>

<div class="container">

  <div class="column justify-content-center">
    <h1 class="title">Babá de Aluguel</h1>
    <h2>Encontre sua babá perfeita!</h2>
    <p>Trabalhe com tranquilidade, divirta-se sem preocupações</p>
  </div>

</div>
