.banner { background-image: url("babies.jpg");
          background-size: cover;
          background-position: center;
          padding: 140px 0;
          margin-top: 77px;
          height: 450px;
        }
