.banner {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/328-ted3100-jj.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d834971cca14eafbab9af205ee1eeca1");
  background-size: cover;
  background-position: center;
  padding: 140px 0;
  margin-top: 77px;
  height: 450px;
}

.banner_two {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/328-ted3209-jj-fon-l.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f4c978b0ecd18c377f0b70a1ebc90af9");
  background-size: cover;
  background-position: center;
  padding: 140px 0;
  margin-top: 77px;
  height: 450px;
}

.banner_three {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/k-174-chim-3507.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1fbc60a58bc9947de6510c070cb40f5");
  background-size: cover;
  background-position: center;
  padding: 140px 0;
  margin-top: 77px;
  height: 450px;
}
