.card-trip {
  overflow: hidden;
  border-radius: 20px;
}
.card-trip > img {
  height: 215px;
  width: 100%;
  object-fit: cover;
  border-top-radius: 20px;
}

.card-trip .card-trip-infos {
  padding: 18px;
}

.card-trip .card-trip-infos h5 {
  text-align: left;
}

.card-trip .card-trip-infos .btn {
  left: 66%;
  bottom: 6%;
}

.card-f {
  margin: 20px;
  height: 320px;
  text-align: justify;
  position: relative;
  border-radius: 20px;
  box-shadow: 3px 3px 11px grey;
}

.card-f .btn {
  background-color: #C8A9A9;
  border-radius: 20px;
  width: 121px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  left: 66%;
  bottom: 6%;
}

.card-filter {
  padding: 23px;
}
