.navbar-lewagon {
  justify-content: space-between;
  background: #C4C4C4;
  opacity: 0.5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 51px;
  height: 51px;
  border-radius: 14px;
}

.login-btn {
  background-color: #C8A9A9;
  border-radius: 20px;
  width: 121px;
  height: 45px;
  text-align: center;
  font-size: 18px;
}

.content {
  align-content: space-between;
}

#content {
  align-content: space-between;
}

.home-btn {
  background-color: #C8A9A9;
  border-radius: 20px;
  width: 100px;
  height: 45px;
  text-align: center;
  font-size: 18px;
}
