// Place all the styles related to the babysitters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "pages/home";

h3 {
  text-align: center;
}

h5 {
  text-align: left;
}

p {
  font-size: 18px;
}

 .options-buttons {
  height: 100px;
 }

 .option-one {
  color: grey;
}

.option-two {
  color: grey;
}

.card-f-nannys p {
  color: grey;
}

.link {
  color: grey;
  font-size: 18px;
}

.filtro{
  text-align: left;
}

.btn-filter{
  background-color: #C8A9A9;
  border-radius: 20px;
  width: 121px;
  height: 45px;
  text-align: center;
  font-size: 18px;
}

.photo {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
